<footer>

  <div class="footer-nav">
    <!-- {%- assign footer_linklist = section.settings.footer_linklist -%}
    {% if linklists[footer_linklist].links.size > 0 %}
      <ul>
        {% for link in linklists[footer_linklist].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %} -->


    <div class="footer-nav--customer-care">
      <h3><href="#">Customer Care</h3>
      <div class="customer-care-wrapper">
        <ul>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Shipping & Delivery</a></li>
          <li><a href="#">Returns & Exchanges</a></li>
          <li><a href="#">Sizing Guide</a></li>
        </ul>
        <ul>
          <li><a href="#">Payment</a></li>
          <li><a href="#">Ordering</a></li>
          <li><a href="#">Feedback</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-nav--information">
      <h3>Information</h3>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Athletes</a></li>
        <li><a href="#">Giving</a></li>
      </ul>
    </div>

    {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
    <div class="footer-nav--social-media">
      <h3>Connect</h3>
      <ul>
        {% for social in social_accounts %}
          {%- assign social_handle = social | handleize -%}
          {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
          {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

          {% if settings[social_link] != blank %}
            <li>
              <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                {% include social_icon %}
                <span class="icon-fallback-text">{{ social }}</span>
              </a>
            </li>
          {% endif %}

        {% endfor %}
      </ul>
    </div>

  </div>

  <hr>

  <div class="subfooter">
    <small>&copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: '/' }}</small>
    <small><a href="#">Privacy</a> | <a href="#">Terms & Conditions</a> | <a href="#">CA Notice</a></small>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
