<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <script src="https://use.fontawesome.com/ab03b8820e.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
  <style>

    @font-face {
    font-family: "Avenir Next Ultra Light";
    src: url("{{ '../assets/fonts/avenir-next-ultra-light.eot' | asset_url }}") format("eot"); /* IE9 Compat Modes */
    src: url("{{ '../assets/fonts/avenir-next-ultra-light.eot?#iefix' | asset_url }}") format("embedded-opentype"), /* IE6-IE8 */
        url("{{ '../assets/fonts/avenir-next-ultra-light.woff2' | asset_url }}") format("woff2"), /* Super Modern Browsers */
        url("{{ '../assets/fonts/avenir-next-ultra-light.woff' | asset_url }}") format("woff"), /* Pretty Modern Browsers */
        url("{{ '../assets/fonts/avenir-next-ultra-light.ttf' | asset_url }}") format("truetype"), /* Safari, Android, iOS */
        url("{{ '../assets/fonts/avenir-next-ultra-light.svg' | asset_url }}") format("svg"); /* Legacy iOS */
        @media screen and (-webkit-min-device-pixel-ratio:0) {@font-face {font-family: 'Avenir Next Ultra Light'; src: url("{{ '../assets/fonts/avenir-next-ultra-light.svg' | asset_url }}") format('svg');}}
    }

    @font-face {
    font-family: "Avenir Next Regular";
    src: url("{{ '../assets/fonts/avenir-next-regular.eot' | asset_url }}") format("eot"); /* IE9 Compat Modes */
    src: url("{{ '../assets/fonts/avenir-next-regular.eot?#iefix' | asset_url }}") format("embedded-opentype"), /* IE6-IE8 */
        url("{{ '../assets/fonts/avenir-next-regular.woff2' | asset_url }}") format("woff2"), /* Super Modern Browsers */
        url("{{ '../assets/fonts/avenir-next-regular.woff' | asset_url }}") format("woff"), /* Pretty Modern Browsers */
        url("{{ '../assets/fonts/avenir-next-regular.ttf' | asset_url }}") format("truetype"), /* Safari, Android, iOS */
        url("{{ '../assets/fonts/avenir-next-regular.svg' | asset_url }}") format("svg"); /* Legacy iOS */
        @media screen and (-webkit-min-device-pixel-ratio:0) {@font-face {font-family: 'Avenir Next Regular'; src: url("{{ '../assets/fonts/avenir-next-regular.svg' | asset_url }}") format('svg');}}
    }

    @font-face {
    font-family: "Avenir Next Medium";
    src: url("{{ '../assets/fonts/avenir-next-medium.eot' | asset_url }}") format("eot"); /* IE9 Compat Modes */
    src: url("{{ '../assets/fonts/avenir-next-medium.eot?#iefix' | asset_url }}") format("embedded-opentype"), /* IE6-IE8 */
        url("{{ '../assets/fonts/avenir-next-medium.woff2' | asset_url }}") format("woff2"), /* Super Modern Browsers */
        url("{{ '../assets/fonts/avenir-next-medium.woff' | asset_url }}") format("woff"), /* Pretty Modern Browsers */
        url("{{ '../assets/fonts/avenir-next-medium.ttf' | asset_url }}") format("truetype"), /* Safari, Android, iOS */
        url("{{ '../assets/fonts/avenir-next-medium.svg' | asset_url }}") format("svg"); /* Legacy iOS */
        @media screen and (-webkit-min-device-pixel-ratio:0) {@font-face {font-family: 'Avenir Next Medium'; src: url("{{ '../assets/fonts/avenir-next-medium.svg' | asset_url }}") format('svg');}}
    }

    @font-face {
    font-family: "Avenir Next Demi Bold";
    src: url("{{ '../assets/fonts/avenir-next-demi-bold.eot' | asset_url }}") format("eot"); /* IE9 Compat Modes */
    src: url("{{ '../assets/fonts/avenir-next-demi-bold.eot?#iefix' | asset_url }}") format("embedded-opentype"), /* IE6-IE8 */
        url("{{ '../assets/fonts/avenir-next-demi-bold.woff2' | asset_url }}") format("woff2"), /* Super Modern Browsers */
        url("{{ '../assets/fonts/avenir-next-demi-bold.woff' | asset_url }}") format("woff"), /* Pretty Modern Browsers */
        url("{{ '../assets/fonts/avenir-next-demi-bold.ttf' | asset_url }}") format("truetype"), /* Safari, Android, iOS */
        url("{{ '../assets/fonts/avenir-next-demi-bold.svg' | asset_url }}") format("svg"); /* Legacy iOS */
        @media screen and (-webkit-min-device-pixel-ratio:0) {@font-face {font-family: 'Avenir Next Demi Bold'; src: url("{{ '../assets/fonts/avenir-next-demi-bold.svg' | asset_url }}") format('svg');}}
    }

    @font-face {
    font-family: "Avenir Next Bold";
    src: url("{{ '../assets/fonts/avenir-next-bold.eot' | asset_url }}") format("eot"); /* IE9 Compat Modes */
    src: url("{{ '../assets/fonts/avenir-next-bold.eot?#iefix' | asset_url }}") format("embedded-opentype"), /* IE6-IE8 */
        url("{{ '../assets/fonts/avenir-next-bold.woff2' | asset_url }}") format("woff2"), /* Super Modern Browsers */
        url("{{ '../assets/fonts/avenir-next-bold.woff' | asset_url }}") format("woff"), /* Pretty Modern Browsers */
        url("{{ '../assets/fonts/avenir-next-bold.ttf' | asset_url }}") format("truetype"), /* Safari, Android, iOS */
        url("{{ '../assets/fonts/avenir-next-bold.svg' | asset_url }}") format("svg"); /* Legacy iOS */
        @media screen and (-webkit-min-device-pixel-ratio:0) {@font-face {font-family: 'Avenir Next Bold'; src: url("{{ '../assets/fonts/avenir-next-bold.svg' | asset_url }}") format('svg');}}
    }

    @font-face {
    font-family: "Avenir Next Heavy";
    src: url("{{ '../assets/fonts/avenir-next-heavy.eot' | asset_url }}") format("eot"); /* IE9 Compat Modes */
    src: url("{{ '../assets/fonts/avenir-next-heavy.eot?#iefix' | asset_url }}") format("embedded-opentype"), /* IE6-IE8 */
        url("{{ '../assets/fonts/avenir-next-heavy.woff2' | asset_url }}") format("woff2"), /* Super Modern Browsers */
        url("{{ '../assets/fonts/avenir-next-heavy.woff' | asset_url }}") format("woff"), /* Pretty Modern Browsers */
        url("{{ '../assets/fonts/avenir-next-heavy.ttf' | asset_url }}") format("truetype"), /* Safari, Android, iOS */
        url("{{ '../assets/fonts/avenir-next-heavy.svg' | asset_url }}") format("svg"); /* Legacy iOS */
        @media screen and (-webkit-min-device-pixel-ratio:0) {@font-face {font-family: 'Avenir Next Heavy'; src: url("{{ '../assets/fonts/avenir-next-heavy.svg' | asset_url }}") format('svg');}}
    }

  </style>
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}
  {% include 'style-tags' %}
  {% include 'css-variables' %}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', '');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>

  {% include 'script-tags', layout: 'theme' %}

  {{ content_for_header }}
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">

  <!-- <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a> -->

  {% section 'header' %}

  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

</body>
</html>
